*{
    padding: 0;
    margin: 0;
}

body{
    background-color: cadetblue;
}
.galeria{
    border: 5px solid black;
}
.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.imagen{
    width: 300px;
    height: 200px;
}